<div class="container">
	<div class="page-header">
		<h2><%= @title="Contact"%>	</h2>
	</div>
	<div class="row">
		<div class="span12 pagination-centered">
			<div class="well">
				<h3>
					Feel free to get in touch with me at <a href="mailto:its@shayon.me">its@shayon.me</a> for any feedback or questions you may have ;).
				</h3>
			</div>
		</div>
	</div>