<style>
h1 {
	color: #fff;
	font-size: 68.5px;
}
h3 {
	color: #fff;
}

</style>
<div class="full-slider">
	<div class="container">
		<div class="row-fluid">
			<div class="span12 hidden-phone">
				<h1> Welcome to TagPort !</h1>
				<p> Monitor hashtags from Instagram and Twitter under one hood now.</p>
			</div>
			<div class="span12 visible-phone">
				<h3> Welcome to TagPort !</h3>
				<h3>  Monitor hashtags from Instagram and Twitter under one hood now.</h3> 
			</div>
		</div>
	</div>
</div>

<div class="container">	
	
	<div class="page-header">
		<h2>Start your search</h2>
	</div>
	<div class="row">
		<div class="span12">
			<div class="well">		
				<!-- Passing the search query to /searches -->
				<%= form_tag searches_path, :method => :get, :class=>"form-inline", :id=>"validateForm" do %>
				<%=text_field_tag 'search', nil, :placeholder => 'Search one tag at a time. For example - beaches',:class=>"span10"%>
				<%= button_tag(:type => 'submit', :class => 'btn btn-primary') do %>
				<i class="icon-search icon-large" style="color:white"></i>
				<% end %>
				<% end %>

			</div>
		</div>
	</div>
	
<!-- Custom js method go here.-->
<%=	javascript_include_tag "search_index_path_custom"%>