<!-- Wrapping up the text in p tags. Sometimes it messes up the layout-->
<style>
.wrap {
	word-wrap: break-word;
}
a.custom:link {color: #ffffff ; font-weight: bold; text-decoration:underline;}
a.custom:visited {color: #ffffff ; font-weight: bold; text-decoration:underline;}

.custom {
	color: #fff;
	font-weight: bold; 
	text-decoration:underline;
}
</style>


<%if @twitter_results.empty? == true || @instagram_results.empty? == true%>

<h2> Sorry the content you searched is either not present on twitter and/or instagram. We are working on making the search better. Please cooperate :) </h2>

<%else%>
<!-- Twitter results starts to populate here -->
<%=render :partial => 'twitter_view'%>
<!-- End of twitter results -->

<!-- Instagram results starts to populate here -->
<%=render :partial => 'instagram_view'%>
<!-- Instagram results end here -->

<%=render :partial => 'js_results'%>

<%end%>