/*All the custom css of my own goes here.*/
.feed {
	min-height: 20px;
	padding: 5px;
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 1px solid #ededed;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.tweetOne {
	padding: 5px;
	margin-bottom: 20px;
	background-color: #DC3D24;
	border: 1px solid #ededed;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	color:#fff;
	font-size:20px;
	line-height:30px;
}
.tweetTwo {
	padding: 5px;
	margin-bottom: 20px;
	background-color: #232B2B;
	border: 1px solid #ededed;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	color:#fff;
	font-size:20px;
	line-height:30px;
}

.tweetThree {
	padding: 5px;
	margin-bottom: 20px;
	background-color: #E3AE57;
	border: 1px solid #ededed;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	color:#fff;
	font-size:20px;
	line-height:30px;
	color:#fff;
	
}
.full-slider{

	background: url("/assets/whea.jpg");
	background-size:100%;
	background-repeat:no-repeat;
	color: #fff;
	text-align: center;
	padding-top: 150px;
	height:250px;
	font-size: 30px;
	line-height: 40px;
}

/*TagPort loader*/
#fountainTextG{
width:400px;
}

.fountainTextG{
color:#d9230f;
font-family:Courier New;
font-size:50px;
text-decoration:none;
font-weight:bold;
font-style:normal;
float:left;
-moz-animation-name:bounce_fountainTextG;
-moz-animation-duration:1.54s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.5);
-webkit-animation-name:bounce_fountainTextG;
-webkit-animation-duration:1.54s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.5);
-ms-animation-name:bounce_fountainTextG;
-ms-animation-duration:1.54s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.5);
-o-animation-name:bounce_fountainTextG;
-o-animation-duration:1.54s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.5);
animation-name:bounce_fountainTextG;
animation-duration:1.54s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.5);
}

#fountainTextG_1{
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

#fountainTextG_2{
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#fountainTextG_3{
-moz-animation-delay:0.84s;
-webkit-animation-delay:0.84s;
-ms-animation-delay:0.84s;
-o-animation-delay:0.84s;
animation-delay:0.84s;
}

#fountainTextG_4{
-moz-animation-delay:0.98s;
-webkit-animation-delay:0.98s;
-ms-animation-delay:0.98s;
-o-animation-delay:0.98s;
animation-delay:0.98s;
}

#fountainTextG_5{
-moz-animation-delay:1.12s;
-webkit-animation-delay:1.12s;
-ms-animation-delay:1.12s;
-o-animation-delay:1.12s;
animation-delay:1.12s;
}

#fountainTextG_6{
-moz-animation-delay:1.26s;
-webkit-animation-delay:1.26s;
-ms-animation-delay:1.26s;
-o-animation-delay:1.26s;
animation-delay:1.26s;
}

#fountainTextG_7{
-moz-animation-delay:1.4s;
-webkit-animation-delay:1.4s;
-ms-animation-delay:1.4s;
-o-animation-delay:1.4s;
animation-delay:1.4s;
}


@-moz-keyframes bounce_fountainTextG{
0%{
-moz-transform:scale(1);
color:#d9230f;
}

100%{
-moz-transform:scale(.5);
color:#FFEBEB;
}

}

@-webkit-keyframes bounce_fountainTextG{
0%{
-webkit-transform:scale(1);
color:#d9230f;
}

100%{
-webkit-transform:scale(.5);
color:#FFEBEB;
}

}

@-ms-keyframes bounce_fountainTextG{
0%{
-ms-transform:scale(1);
color:#d9230f;
}

100%{
-ms-transform:scale(.5);
color:#FFEBEB;
}

}

@-o-keyframes bounce_fountainTextG{
0%{
-o-transform:scale(1);
color:#d9230f;
}

100%{
-o-transform:scale(.5);
color:#FFEBEB;
}

}

@keyframes bounce_fountainTextG{
0%{
transform:scale(1);
color:#d9230f;
}

100%{
transform:scale(.5);
color:#FFEBEB;
}

}



	
