<footer>
	<hr>
	<center> 
		All rights reserved by Shayon Mukherjee | Thanks to <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a> for icons | Photo courtesy: <a href="www.istockphoto.com">iStock Photo</a>
		<center>
</footer>